<p id="notice"><%= notice %></p>
<h1>Messages</h1>

<div>
<h3> Recent Conversations </h3>
<% @conversations.each do |conversation|%>
    <%=link_to conversation.subject, conversation_path(conversation)%> 
<%end%>
</div>

<div>
<%= link_to "New Conversation", new_conversation_path %>
<%= link_to "Back to Listings", listings_path %>
</div>