



 <p id="notice"><%= notice %></p>
 <h1>Camingo Users</h1>

 <tbody>
   <% @users.each do |user| %>
  
    
 <p><strong>Username:</strong>
 <%=link_to user.username, user_path(user)%></p>

 <%end%>

 </tbody>



 <%= link_to 'Listings', listings_path %>

